---
layout: default
body_classes: page-media
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include framework/title.html
          title=page.title
          description=page.description
          image=page.image
        %}
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="media-grid">
      {% for item in site.data.media %}
        {% include theme/cards/card-media-group.html
          broadcaster=item.broadcaster
          logo=item.logo
          appearances=item.appearances
        %}
      {% endfor %}
    </div>
  </div>
</div>
