---
layout: default
body_classes: page-media page-media-3
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include framework/title.html
        title=page.title
        description=page.description
        image=page.image
        %}
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12">
          <div class="row">
            {% assign media_items = site.media | sort: "date" | reverse %}
            {% for item in media_items %}
              {% assign item_url = item.link %}
              <div class="col-12 col-md-6 mb-3 mb-md-6 mb-lg-12">
                {% include theme/cards/card-post.html
                  title=item.title
                  description=item.description
                  thumbnail=item.thumbnail
                  youtube_id=item.youtube_id
                  youtube_start_seconds=item.youtube_start_seconds
                  youtube_start_label=item.youtube_start_label
                  url=item_url
                  rte_clip_id=item.rte_clip_id
                  rte_start_seconds=item.rte_start_seconds
                  rte_start_label=item.rte_start_label
                  audio_src=item.audio_src
                  audio_start_seconds=item.audio_start_seconds
                  audio_start_label=item.audio_start_label
                  date=item.date
                  show_read_more=false
                  style="full"
                %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</div>
