---
layout: default
body_classes: page-media page-media-3
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include framework/title.html
        title=page.title
        description=page.description
        image=page.image
        %}
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12">
          <div class="row">
            {% assign media_items = site.media | sort: "date" | reverse %}
            {% for item in media_items %}
              <div class="col-12 col-md-6 mb-3 mb-md-6 mb-lg-12">
                {% include theme/cards/card-post.html
                  title=item.title
                  description=item.description
                  thumbnail=item.thumbnail
                  url=item.link
                  show_read_more=false
                  style="full"
                %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</div>
